Machine learning makes only assumptaions based on the numerical values. So what if we have string values which are called as categorial values (Objects)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [25]:
data = pd.read_csv("Data.CSV")
print(data.head(10))

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

If we look at the data in this dataset, country and Purchased fields are the string objects which means we can apply mathematical equations on the data. so we shall convert them into catergorical data as shown below.

In [23]:
X = data[["Country",'Age','Salary']]
y = data['Purchased']

In [10]:
print(X , '\n\n\n')
print(y)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0



0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [21]:
from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()

In [13]:
data['Country']= labelencoder_x.fit_transform(X['Country'])

In [26]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

This doesnot nakes sence at all if you observe 'France' is given a value 0 , 'Germany' : 1, 'Spain' : 2
Instead of these values we modify the data with help of OneHotEncoder which provides the array of values.

In [27]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features= [0])
onehotencoder

OneHotEncoder(categorical_features=[0], categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [28]:
X = onehotencoder.fit_transform(data['Country']).toarray

C:\Users\S533628\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

IndexError: tuple index out of range

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features= [0])
onehotencoder

In [ ]:
y = onehotencoder.fit_transform(y).toarray